.NewsCard-item.ant-card{
    width: 325px;
    height: 450px;
    margin: 10px;
    cursor: pointer;
    .ant-card-meta{
        margin-bottom: 10px;
    }
    .NewsCard-image{
        height: 190px;
    }
    .NewsCard-title{
        margin-bottom: 5px;
    }
    .NewsCard-description{
        text-overflow: ellipsis;
    }
}